# Ignore Python compilation
*.pyc

# Ignore cache
*.cache/

# Ignore coverage tests
.coverage
*.coverage.*
.pytest_cache/

# Ignore installation
.eggs/
shapepipe.egg-info/
dist/
/build/

# Ignore pypi config
.pypirc

# Ignore .DS_Store
.DS_Store

# Ignore example output
*shapepipe_run_*
*shapepipe_runs*
