name: shapepipe
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.7
  - astropy>=3.0
  - galsim>=2.1.4
  - joblib>=0.13
  - matplotlib>=3.0.2
  - pip>=19.3
  - pip:
    - modopt>=1.2
    - numba>=0.49.1
    - pandas>=1.0
    - sip_tpv>=1.1
    - sf_tools>=2.0
    - sqlitedict>=1.6.0
    - termcolor>=1.1
    - reproject>=0.7.1
    - tqdm>=4.46.1
    - git+https://github.com/aguinot/ngmix@stable_version
    - scipy>=1.3.3
    - PyQt5>=5.15.1
    - pyqtgraph>=0.11.0
    - python-pysap>=0.0.4
    - mccd>=0.0.3
    - treecorr>=4.1.5
    - git+https://github.com/tobias-liaudat/Stile
