# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Spredict - IDW.cfg - Interpolation using Radial basis Functions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[IDW]

# ------------------------------------- Properties of the method -----------------------------------
[IDW.METHOD]

IS_LOCAL = True            # a local interpolator

REEVALUATE_IF_EXACT = True # if an exact interpolator, force re-evaluation of target points that 
                           # are located at the same coordinates as the input points

COLLECT_EXTRA_DATA = True  # if True, collect extra method-specific data  

# --------------------------------- Default Interpolation Options ----------------------------------
[IDW.OPTIONS]

# --- Neighbourhood for RBF prediction: default values ---
MIN_OBJECTS = 50           # min number of objects to use
MAX_OBJECTS = 60           # max number of objects to use
DIST_INCREMENT = 0.010     # distance increment when extending neighbourhood

MAX_DISTANCE = 1.0           # max distance for neighbour discovery
DISTANCE_TOL = 0.025       # max lag distance tolerance 


# --- Distance exponent ---

# E.g. 2 for quadratic weighting influence decrease)

DISTANCE_EXPONENT = 2      


# --- EOF IDW.cfg
