include *.txt
recursive-include multifit *.py
recursive-include multifit *.cfg
recursive-include doc *.html
recursive-include doc *.tex
recursive-include doc *.sty
recursive-include doc *.css
recursive-include doc *.png
recursive-include doc *.md5
recursive-include doc *.map

