name: CI

on:
  pull_request:
    branches:
     - master

jobs:

  Ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt-get install libopenblas-dev

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.8
          auto-activate-base: true

      - name: Install package
        shell: bash -l {0}
        run: |
          export PATH=/usr/share/miniconda/bin:$PATH
          ./install_shapepipe --develop

      - name: Run tests
        shell: bash -l {0}
        run: |
          conda activate shapepipe
          python setup.py test
